body {
  font-family: sans-serif;
}

.btn {
  font-size: 14px;
  background-color: lightblue;
  display: inline-block;
	margin: 10px;
  border-style: none;
  border-radius: 5px;
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn:hover {
  background-color: pink;
}

ul {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  height: 500px;
  overflow: scroll;
  text-align: center;
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

h1, p {
  text-align: center;
}

#wrapper {
  text-align: center;
  padding-top: 20px
}

#root {
  display: inline-block;
  width: 40%;
  float: left;
}

#photo {
  width: 40%;
  margin: auto 0;
  height: 500px;
  display: inline-block;
  background-color: yellow;
}

.image {
  width: 100%;
}
